/* start >> menambahkan font bawaan sendiri */
@font-face {
    font-family: ubuntu;
    src: url(assets/font/ubuntu.ttf);
}
/* end >> menambahkan font bawaan sendiri  */

body {
    /* hilangkan margin dan padding default  */
    /* start */
    margin: 0; 
    padding: 0;
    /* end */
    font-family: ubuntu;
}

a {
    text-decoration: none;
    color: black;
}

p {
    line-height: 150%;
}

h3 {
    border-left: 5px solid black;
    padding-left: 5px;
    text-shadow: 1px 1px 2px black;
    letter-spacing: 10px;
}

/* start >> setting left container */
.left-container {
    position: fixed;
    width: 400px;
    height: 100vh;
    background-color: #163853;
    color: white;
}

.pp {
    position: absolute;
    top: 50px;
    text-align: center;
}

.foto {
    width: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 50%;
    margin-bottom: 20px;
}

.head-lc {
    border-left: 5px solid white;
    text-align: left;
    margin-left: 30px;
}

.contact {
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
}

/* .contact:hover {
    color: gold;
    transition: 1s;
} */

.p-lc-a {
    color: white;
}

.p-lc-a:hover {
    color: gold;
    transition: 1s;
    cursor: pointer;
}

.img {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    vertical-align: middle;
}

.skills {
    margin-left: 30px;
    margin-right: 40px;
    text-align: left;
}
/* end >> setting left container */

/* start >> setting right container */
.right-container {
    position: absolute;
    left: 400px;
    padding-left: 50px;
    padding-right: 50px;
}

.headbar {
    font-style: italic;
    padding-top: 25px;
}

.navbar {
    float: right;
}

.navbar-list {
    padding: 0 15px;
}

#nama {
    padding-top: 100px;
    text-shadow: 1px 1px 2px black;
    letter-spacing: 10px;
}

#about {
    padding-top: 100px;
    text-align: justify;
}

#education {
    padding-top: 50px;
    text-align: justify;
}

#work-experience {
    padding-top: 50px;
    text-align: justify;
}

#languages {
    padding-top: 50px;
    text-align: justify;
}
/* end >> setting right container */

.footer {
    text-align: center;
    font-size: 12px;
}
